.color {
  border: solid 1px black;
  padding: 4px 10px;
}

.color-fire {
  background: #c96e6e;
}

.color-grass {
  background: #44ac44;
}

.color-water {
  background: skyblue;
}

.color-thunder {
  background: #ff9900;
}

.color-normal {
  background: #bb3cbb;
}
